[Desktop Entry]
Name=MuseScore
GenericName=Éditeur de partitions musicales
Comment=Créer, jouer et imprimer des partitions musicales
Terminal=false
Type=Application
Categories=AudioVideo;Music;
MimeType=application/vnd.musescore;
StartupWMClass=mscore4portable
Exec=/opt/MuseScore/MuseScore-Studio.AppImage
Icon=/opt/MuseScore/musescore.png
Terminal=false
StartupNotify=true
Actions=Window;Panel;
# À mettre dans /usr/share/applications
